i{
    cursor: pointer;
}

:host{
    display: block;
    position: absolute;
    width: 100%;
    top: 10%;
}

input {
    height:30px;
    vertical-align:top;
}

select {
    border:1px solid #ccc;
    vertical-align:top;
    height:30px;
}
option {
    text-decoration:underline;
}